{% extends 'base.html.twig' %}
{% block titulo_web %}
	Aquí viene el titulo_web
{% endblock %}
{% block encabezado %}
	<div class="row encabezado">
		
		<h1 class="col-lg-12">
		<div class="col-lg-4">   {{ room.idhotel.nombre }}</div>
		<div class="col-lg-4"> {% for i in 0..room.idhotel.estrellas if i>0 %}
			<i class="fa fa-star-o" aria-hidden="true"></i>
		{% endfor %}</div>
		<div class="col-lg-4">{{ room.idHotel.ubicacion }}</div>
		
		
		</h1>
		
	</div>
{% endblock %}
{% block body %}
	<style type="text/css">
		/*.bg*/body {
	/* The image used */
	background-image: url("{{ room.roompic }}");
	/* Full height */
	height: 100%;
	padding: 1em 16em 24em 6em;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
	</style>
	<article class="bg">
		<div class="row">
			<div class="col-lg-3 room-data">
				<!---->
				
				<h1>Habitacion {% set z = rpp|length-room.numeroRoom|length %}
				{{ room.numeroPlanta.numeroPlanta }}
				{% for i in 0..z if i>0 %}
					{{ 0 }}
					{%  endfor %}
					{{ room.numeroRoom }}
					</h1>
					<h2>Planta&nbsp;{{ room.numeroPlanta.numeroPlanta }}</h2>
					<h2>Clase&nbsp;{{ room.idclass.roomclass }}</h2>
					<h2>Precio&nbsp;{{ room.precionoche }} €</h2>
					<h2>Ocupada&nbsp;</h2>
					
					
					
					
					
				</div>
			</div>
		</article>
	{% endblock %}
