{% extends 'base.html.twig' %}

{% block titulo_web %}
		Aquí viene el titulo_web
{% endblock %}

{% block encabezado %}
		Aquí viene el título
{% endblock %}


{% block body %}
<article >
	<div class="row">
		<div class="col-lg-3">
		{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
			<table class="verHotel">				
				<tbody>
					<tr>
						<td>Habitacion</td>
						<td>{% set z = rpp|length-room.numeroRoom|length %}
							{{ room.numeroPlanta.numeroPlanta }}
							{% for i in 0..z if i>0 %}
							{{ 0 }}
							{%  endfor %}
							{{ room.numeroRoom }}</td>						
					</tr>
					<tr>
						<td>Activa</td>
						<td>{% if room.activa>0 %}
							    Si
							{% else %}
							    No
							{% endif %}</td>						
					</tr>
					<tr>
						<td>Planta</td>
						<td>{{ room.numeroPlanta.numeroPlanta }}</td>						
					</tr>										
					<tr>
						<td>Clase</td>
						<td>{{ room.idclass.roomclass }}</td>						
					</tr>	
					<tr>
						<td>Precio</td>
						<td>{{ room.precionoche }} €</td>						
					</tr>
					
					<tr>
						<td>Ocupada</td>
						<td>{{ room.activa }}</td>						
					</tr>					
				</tbody>
			</table>
		</div>
		
		<div class="col-lg-3">
			<img class src="{{ room.roomPic }}" alt="{{ room.idclass.roomclass }}" >
		</div>
	</div>
</article>
{% endblock %}

{% block pie %}
		Aquí viene el pie
{% endblock %}
