{% extends 'roomView.html.twig' %}


{% block body %}
<style type="text/css">
	/*.bg*/
	body { 
    /* The image used */
    background-image: url("{{ form.roompic.vars.value }}");

    /* Full height */
    height: 100%; 
    padding: 1em 16em 24em 6em;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

   
</style>
<article class="bg">
	<div class="row">
		<div class="col-lg-3 room-data" >
		<!---->
		{% form_theme form 'bootstrap_3_layout.html.twig'  %}
		{{ form_start(form) }}
		<h1>Habitacion {% set z = rpp|length-room.numeroRoom|length %}
							{{ room.numeroPlanta.numeroPlanta }}
							{% for i in 0..z if i>0 %}
							{{ 0 }}
							{%  endfor %}
							{{ room.numeroRoom }}</h1>	
			<h2>Planta&nbsp;{{ room.numeroPlanta.numeroPlanta }}</h2>			
			<h2>Clase&nbsp;{{ room.idclass.roomclass }}</h2>		
		<h2>Ocupada&nbsp;</h2>
		{{ form_end(form) }}
		
		
			
		</div>
		<div>
			<button><a href="../../../createReservaRoom/{{ room.idHotel.id }}/{{ room.numeroPlanta.numeroPlanta }}/{{ room.numeroRoom }}"><i class="fa fa-bed"></i>RESERVAR</a></button>
		</div>
	</div>
</article>
{% endblock %}

